<script>
  const ctx = document.getElementById('chart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [
      {% for tracker in item["tracker"].keys()|sort %}
        {
          label: '{{ tracker }}',
          data: {{ item["tracker"][tracker] }}
        },
      {% endfor %}
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: '{{ item["name"] }}'
        }
      }
    }
  });
</script>
