<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% assets 'css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
  </head>
  <div id="modal" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"></div>
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TrackU</span>
      <button type="button" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" hx-get="/modal-show" hx-target="#modal">Add</button>
    </div>
  </nav>
  <div class="flex flex-col h-svh">
    <div hx-get="/chart" hx-trigger="load" class="h-4/6 bg-slate-800 grid place-items-center"></div>
    <div hx-get="/table" hx-trigger="load"></div>
  </div>
</html>
