<div id="default-modal" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Add Product</h3>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <form>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
              <input  id="product_name" class="block w-full" placeholder="" required>
              <div class="py-4">
                <button class="bg-cyan-500 py-1 px-3 text-white text-sm font-semibold rounded-full shadow focus:outline-none">Amazon</button>
                <button class="bg-zinc-400 py-1 px-3 text-white text-sm font-semibold rounded-full shadow focus:outline-none">EBay</button>
                <button class="bg-amber-400 py-1 px-3 text-white text-sm font-semibold rounded-full shadow focus:outline-none">Best Buy</button>
              </div>
              <input  id="product_link" class="block w-full" placeholder="Amazon" required>
            </form>
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
              <button type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" hx-get="/modal-hide" hx-target="#modal">Cancel</button>
          </div>
      </div>
  </div>
</div>
